.mojobraz {
    height: 200px;
    background: #aaa;
}

.all {
    background-image: url("mainbg.jpg");
}


.myhdr {
    background: hsl(203, 84%, 88%);
}

.mybg {
    background-image: url("mainbg_manuscript.jpg");
}

article.mytxt {
text-indent: 2em;

}

h1 {
    font-size: xx-large;
    text-align: center;
}

h6 {
    font-size: small;
    text-align: center;
}

.bold-nav-ft {
    font-weight: bold;
}

.hide {
    display: none;
  }
      
  .spanhov:hover + .hide  {
    display: block;
  }

  .spanhov:hover {
    display: none;
  }

  .headfont {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

  }

  .content {
    background-color: rgb(204, 204, 204); 
    background-color: rgba(204, 204, 204, 0.5);
    padding: 0.12em;
}

.content2 {
    background-color: rgb(204, 204, 204); 
    background-color: rgba(204, 204, 204, 0.75);
    padding: 0.12em;
}


